/*estilo para el navbar*/

.navbar {
    background-color: #062207;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0.5rem;
}

.navbar-brand {
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

.navbar-nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin-left: 1rem;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem;
}

.nav-link:hover,
.nav-link:focus {
    background-color: #e9ecef;
    color: #000;
}

.nav-link.active {
    background-color: #e9ecef;
    color: #000;
}

.navbar-toggler {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
}

.navbar-toggler-icon {
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: background-color 0.3s ease;
}

.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: background-color 0.3s ease;
}

.navbar-toggler:hover .navbar-toggler-icon,
.navbar-toggler:focus .navbar-toggler-icon {
    background-color: #888;
}

.navbar-toggler:hover .navbar-toggler-icon::before,
.navbar-toggler:focus .navbar-toggler-icon::before,
.navbar-toggler:hover .navbar-toggler-icon::after,
.navbar-toggler:focus .navbar-toggler-icon::after {
    background-color: #888;
}

@media (min-width: 768px) {
    .navbar-nav {
        align-items: center;
    }
    .nav-item {
        margin-left: 1.5rem;
    }
    .navbar-toggler {
        display: none;
    }
}

p.primer-parrafo,
h1.primer-texto {
    text-align: center;
    color: white;
}

p.segundo-parrafo,
h2.segundo-texto {
    text-align: center;
    color: white;
}

p.tercer-parrafo,
h2.tercer-texto {
    text-align: center;
    color: white;
}

a.redirect {
    text-decoration: none;
    background-color: #07903c;
    color: white;
}

a.btn-primary {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline-block;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 4px;
    margin-bottom: 10px;
}


/* body {
    background-image: url(img/cerradura2.webp);
    background-size: cover;
    background-repeat: no-repeat;
    Otros estilos opcionales
} */